<%
const {
  items = [
  {codeId: 1, codeName: 'π’΅ μ°½μ—… λ…Έν•μ°'},
  {codeId: 2, codeName: 'π“— μ‚¬μ¥λ‹ κ°€μ΄λ“'},
  {codeId: 3, codeName: 'π’° μ†μƒκ³µμΈ ννƒ π’°'},
    ],
} = props || {}
%>



<div class="ui-home-category">
  <div class="uhc-inner">
    <div class="uhc-abs animation-category">
      <button class="btn-se">
        <div class="tx">
          <span class="ico"></span>
          <span class="an-icx ft">λ¬΄μ—‡μ„ μ°ΎμΌμ„Έμ”?</span>
          <span class="an-icx ed">κ²€μƒ‰</span>
        </div>
      </button>
    </div>
    <div class="uhc-lst">
      <%-include($rootSrc('@/components/BsTabCategory'), {
        props: {
          items,
        }
      })%>
    </div>
  </div>
</div>