<div class="review-write">
  <div class="input-container">
    <textarea placeholder="댓글을 입력해주세요"></textarea>
    <!-- <input type="text" placeholder="댓글을 입력해주세요"> -->
    <button type="button" disabled>등록</button>
  </div>
</div>