<div class="ui-list-permission-agree">
  <div class="udp-inner">
    <div class="ud-tit">앱 이용을 위해 권한을 허용해 주세요</div>
    <div class="ud-lst">
      <!-- foreach:S -->
      <div class="ud-tp">
        <span class="u-ic u-ic-alarm"></span>
        <div class="u-tx">
          <span class="x-str">알림</span>
          공지 및 이벤트, 창업 스케줄 안내
        </div>
      </div>
      <div class="ud-tp">
        <span class="u-ic u-ic-camera"></span>
        <div class="u-tx">
          <span class="x-str">카메라</span>
          프로필, 기록 공유용 사진 촬영
        </div>
      </div>
      <div class="ud-tp">
        <span class="u-ic u-ic-pick"></span>
        <div class="u-tx">
          <span class="x-str">앨범</span>
          프로필, 기록 공유용 사진 불러오기
        </div>
      </div>
      <div class="ud-tp">
        <span class="u-ic u-ic-file"></span>
        <div class="u-tx">
          <span class="x-str">파일 및 미디어</span>
          기록 공유를 위한 파일 활용
        </div>
      </div>
      <div class="ud-tp">
        <span class="u-ic u-ic-phone"></span>
        <div class="u-tx">
          <span class="x-str">전화</span>
          추천 서비스 업체 연결
        </div>
      </div>
      <!-- foreach:E -->
    </div>
    <div class="ud-desc">
      선택 접근 권한은 해당 기능을 사용할 때 허용이 필요하며, 비허용시에도 해당 기능 외 서비스 이용이 가능합니다.
    </div>
  </div>
</div>