<footer class="footer" data-type="fixed">
  <div class="container-notice">
    <h2>공지</h2>
    <div class="swiper-notice">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">가나다라마바사</li>
        <li class="swiper-slide">글자는 42바이트 까지 가능</li>
        <li class="swiper-slide">KB 국민 카드 개편에 따른 일시중단 관련</li>
      </ul>
      <div class="swiper-status">
        <div class="swiper-pagination"></div>
        <button type="button" class="swiper-play-btn">공지가 재생 중 입니다. 멈추려면 두 번 탭 하세요.</button>
      </div>
    </div>
  </div>
  <p>© NHN KCP Corp.</p>
</footer>