<%
const {} = props || {}
%>

<div class="ui-mypage-score-pannel">
  <div class="umsp-inner">
    <!-- foreach:S -->
    <button class="us-txts">
      <span class="u-lb">업체 PICK</span>
      <span class="u-vl">381</span>
    </button>
    <button class="us-txts">
      <span class="u-lb">정보 PICK</span>
      <span class="u-vl">9,782</span>
    </button>
    <!-- foreach:E -->
  </div>
</div>