<%
const {
  useHeader,
  className,
  title,
  profileData
} = props || {}
%>


<%- include($rootSrc(`@/components/BsDialog`), {
  props: {
    className: 'dialog-select-store',
    title: '스토어를 선택해주세요',
    slotTopRight: ()=> include($rootSrc('@/components/BsButton'), {
      props: {
        type: (BUTTON_TYPE)=> BUTTON_TYPE.TEXT,
        cssBackground: (CSS_BACKGROUND)=>CSS_BACKGROUND['Common/White'],
        cssBorderColor: (CSS_BORDER_COLOR)=>CSS_BORDER_COLOR['Common/White'],
        slot: '<span class="ad-btn">신규 추가</span>'
      }
    }),
    slot: ()=> include($rootSrc('@/components/ui/list/UiListSelectStore'), {
      props:{
        profileData: false,
        useRadio: true
      }
    }),
    slotBottom: ()=> include($rootSrc('@/components/BsButtonGroup'), {
      props:{
        items: [
          {codeId: 'code1', codeName: '선택 완료'},
          {codeId: 'code2', codeName: '취소'}
        ],
        slot: (item)=> include($rootSrc('@/components/BsButton'), {
          props: {
            block: true,
            size: (BUTTON_SIZE)=> BUTTON_SIZE.LARGE,
            cssBackground: (CSS_BACKGROUND)=>CSS_BACKGROUND[item.codeId === 'code1' ? 'Blue/04 (basic)' : 'Common/White'],
            cssBorderColor: (CSS_BORDER_COLOR)=>CSS_BORDER_COLOR[item.codeId === 'code1' ? 'Blue/04 (basic)' : 'Common/White'],
            cssColor: (CSS_COLOR)=>CSS_COLOR[item.codeId === 'code1' ? 'Common/White' : 'Gray/05'],
            slot: item.codeName
          }
        })
      }
    })
  }
}) %>