<%
const {} = props || {}
%>

<div class="ui-toast-mbti">
  <div class="utm-inner">
    <div class="ut-lts"><img src="<%-$staticSrc('@/static/images/common/icon_emg_smile.png')%>" alt="" /></div>
    <div class="ut-cont">MBTI 창업가능성 알아보기!</div>
    <div class="ut-rts"></div>
  </div>
</div>