<div class="bs-datepicker-ymd">
  <div class="bdy-top">
    <button class="lty" title="이전"></button>
    <div class="bt-tit">2024년 7월</div>
    <button class="rty" title="다음"></button>
  </div>
  <div class="bdy-cont">
    <div class="b-thead">
      <div class="b-tr">
        <span class="b-td COLOR_RED_03">일</span>
        <span class="b-td">월</span>
        <span class="b-td">화</span>
        <span class="b-td">수</span>
        <span class="b-td">목</span>
        <span class="b-td">금</span>
        <span class="b-td">토</span>
      </div>
    </div>
    <div class="b-tbody">
      <!-- foreach:S -->
      <div class="b-tr">
        <button class="b-td COLOR_RED_03"></button>
        <button class="b-td">1</button>
        <button class="b-td">2</button>
        <button class="b-td">3</button>
        <button class="b-td">4</button>
        <button class="b-td">5</button>
        <button class="b-td">6</button>
      </div>
      <div class="b-tr">
        <button class="b-td COLOR_RED_03">7</button>
        <button class="b-td">8</button>
        <button class="b-td">9</button>
        <button class="b-td">10</button>
        <button class="b-td">11</button>
        <button class="b-td">12</button>
        <button class="b-td">13</button>
      </div>
      <div class="b-tr">
        <button class="b-td COLOR_RED_03">14</button>
        <button class="b-td">15</button>
        <button class="b-td">16</button>
        <button class="b-td is-active">17</button>
        <button class="b-td">18</button>
        <button class="b-td">19</button>
        <button class="b-td">20</button>
      </div>
      <div class="b-tr">
        <button class="b-td COLOR_RED_03">21</button>
        <button class="b-td">22</button>
        <button class="b-td">23</button>
        <button class="b-td">24</button>
        <button class="b-td">25</button>
        <button class="b-td">26</button>
        <button class="b-td">27</button>
      </div>
      <div class="b-tr">
        <button class="b-td COLOR_RED_03">28</button>
        <button class="b-td">29</button>
        <button class="b-td">30</button>
        <button class="b-td">31</button>
        <button class="b-td"></button>
        <button class="b-td"></button>
        <button class="b-td"></button>
      </div>
      <!-- foreach:E -->
    </div>
  </div>
</div>