<%
const {} = props || {}
%>

<div class="bs-layout-notification">
  <div class="b-titw">비벗 이용 안내</div>
  <div class="b-stitw">
    보다 원활한 서비스 이용을 위해 시스템 개선
    작업이 진행될 예정입니다.<br />
    해당 기간 동안 비벗 서비스 이용이 일시적으로 중단될 예정이오니 이용에 참고하시기 바랍니다.
  </div>
  <div class="b-divis">
    <span class="bd-ti">점검 일자</span>
    <ul class="bd-lst">
      <li class="b-tp">2024년 9월 6일 오후 8시 ~ 오후 11시 까지</li>
    </ul>
  </div>
</div>