<%
const {} = props || {}
%>

<div class="ui-login-choosesns">
  <div class="ulc-innner">
    <div class="uc-chos-cont">
      <div class="u-sns-lst">
        <!-- foreach:S -->
        <div class="us-tp">
          <button class="t-btn t-btn-kakao">
            <span class="t-tx">카카오로 시작하기</span>
          </button>
        </div>
        <div class="us-tp">
          <button class="t-btn t-btn-payco">
            <span class="t-tx">PAYCO로 시작하기</span>
          </button>
        </div>
        <div class="us-tp">
          <button class="t-btn t-btn-apple">
            <span class="t-tx">Apple로 시작하기</span>
          </button>
        </div>
        <div class="us-tp">
          <button class="t-btn">
            <span class="t-tx">이메일로 시작하기</span>
          </button>
        </div>
        <!-- foreach:E -->
      </div>
      <div class="u-antr-txt">또는</div>
      <div class="u-antr-lst">
        <!-- foreach:S -->
        <div class="us-tp">
          <button class="t-btn t-btn-naver">
            <span class="t-tx">네이버로 시작하기</span>
          </button>
        </div>
        <div class="us-tp">
          <button class="t-btn t-btn-google">
            <span class="t-tx">구글로 시작하기</span>
          </button>
        </div>
        <!-- foreach:E -->
      </div>
    </div>

  </div>
</div>

