<!doctype html>
<html lang="ko">
<%- include($rootSrc('@/components/layout/Head')); %>

<body>
  <div class="bridge-layout">
    <%- body %>
  </div>
  <%-include($rootSrc('@/components/layout/Script'))%>
</body>

</html>